/************ Contact CSS ***********/
.common-banner{
    background-image: url('../../images/commonbanner/commonBnBg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0px 20px 0px;
    margin-top: -20px;
    border-bottom: 5px solid #c29d59;
}

/*** Contact form area ***/
.contact-form-section {
    background:#f2efe9 url('../../images/packagebg/pattern.png') no-repeat;
}

.form-inner {
    width: 60%;
    margin: auto;
}

.form-inner .form-label {
    color: #c29d59;
    font-size: 17px;
    font-weight: 700;
}

.form-inner input, 
.form-inner textarea {
    border: none;
    outline: none;
    color: #c29d59;
    box-shadow: 5px 10px 13px -7px #c29d59;
}

.form-inner input:focus, 
.form-inner textarea:focus {
    box-shadow: none;
}

.form-inner button {
    background-color: #c29d59;
    outline: none;
    box-shadow: none;
    border: 1px solid transparent;
    margin-top: 10px;
    padding: 6px 29px;
    font-size: 16px;
    font-weight: 600;
    transition: .5s;
}

.form-inner button:hover {
    background-color: transparent;
    color: #c29d59;
    border: 1px solid #c29d59;
}


/********** RESPONSIVE CSS *************/
@media screen and (max-width:575px){
    .form-inner{
        width: 90%;
    }
}