/********* MY BOOKINGS CSS *********/

.individual-orders-section{
    background: #f2efe9 url('../../images/packagebg/pattern.png') no-repeat;
    background-size: cover;
    background-position: center;
}